<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @player.surname %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @player.given_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player.position %>
</p>

<p>
  <strong>At bat:</strong>
  <%= @player.at_bat %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @player.runs %>
</p>

<p>
  <strong>Hits:</strong>
  <%= @player.hits %>
</p>

<p>
  <strong>Rbi:</strong>
  <%= @player.rbi %>
</p>

<p>
  <strong>Steals:</strong>
  <%= @player.steals %>
</p>

<p>
  <strong>Errors:</strong>
  <%= @player.errors %>
</p>

<p>
  <strong>Walks:</strong>
  <%= @player.walks %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
